



a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}
 
 
button,
input {
  background: #caf0f8;
  border: 2px solid #03045e;
}

/*img {
  display: block;
  max-width: 100%;
  height: auto;
}
*/
ul {
  list-style: none;
}

body {
  font-family: 'Cuprum', sans-se;  
  font: 1rem/1.3 "Roboto", sans-serif;
  background: #0096c7;
  color: var(--text_dark);
  padding: 50px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


/* SECTION #1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.weather {
  color: #caf0f8;
  border: 2px solid;
}

.heading {
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.02em;
  padding: 0 0 30px 0;
}

/*.weather form {
  position: relative;
  display: flex;
  align-items: center;
}*/

.weather form input {
  font-size: 25px;
  height: 40px;
  padding: 5px 5px 10px;
  border-bottom: 1px solid;
}

.weather form input::placeholder {
  color: currentColor; 
}

.weather form button {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 5px;
  background: var(--red);
  transition: background 0.3s ease-in-out;
}

.weather form button:hover {
  background: var(--darkred);
}

.weather form .msg {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 450px;
  min-height: 40px;
}


.col-sm-2 {
  float: right;
  width: fit-content;
  block-size: fit-content;
  border: 2px solid;
  background-color: #03045e;
  color: #caf0f8;
  padding: 10px;
}

.cloudy{
  background: url(https://images.unsplash.com/photo-1499956827185-0d63ee78a910?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
}

.rain{
  background: url(https://images.unsplash.com/photo-1523907148451-986fa7602675?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
}

.snow {
  background: url(https://images.unsplash.com/photo-1547754980-3df97fed72a8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
}

.sun{
  background: url(https://images.unsplash.com/photo-1462524500090-89443873e2b4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
}

/*cloudy skys https://images.unsplash.com/photo-1609931029519-b0c58e5f69c0?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTUxfHxzdW5ueSUyMHNreXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60
/*rain https://images.unsplash.com/photo-1523907148451-986fa7602675?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NjV8fHJhaW5pbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60
/*snow https://images.unsplash.com/photo-1547754980-3df97fed72a8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8c25vdyUyMGZhbGxpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60
/*sun https://images.unsplash.com/photo-1511836536898-6d6f1b8f6948?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8c3VubGlnaHR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60
/*snow https://images.unsplash.com/photo-1547754980-3df97fed72a8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8c25vdyUyMGZhbGxpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60



